/* generic style */
.paragraph {
    font-size: 16px;
}

.paragraph--blue {
    color: #071920;
}

.color--gray{
    color: #958e8e;
}

.tertiary-heading {
    font-size: 20px;
    font-weight: 500;
}

.progress {
    border-radius: 3px;
}

.btn-large {
    border-radius: 4px;
    padding: 7px 0;
    width: 100%;
}

.arrow--right::before {
    content: '';
    position: absolute;
    border-right: 2px solid;
    display: block;
    height: 12px;
    transform: rotate(135deg);
    right: 140px;
    top: 20%;
}

.arrow--right::after {
    content: '';
    position: absolute;
    border-right: 2px solid;
    display: block;
    height: 11px;
    transform: rotate(45deg);
    right: 140px;
    top: 36%;
}

.radio-btn-group {
    line-height: 2rem;
}

.radio {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: text-bottom;
}

.radio--green {
    border: 2px solid #28a745;
}

.radio::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    left: 4px;
    top: 4px;
    background: #fff;
    border-radius: 50%;
}

.radio:checked {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.radio:checked::after {
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    /* background: transparent; */
    background: #28a745;
    left: 2px;
    top: 2px;
}

.radio__text {
    width: 170px;
    margin-left: 20px;
}

@media (min-width: 576px) {
    .radio-btn-group:first-child {
        padding-right: 26px;
    }
}

@media (min-width: 576px) {
    .radio-btn-group:last-child {
        padding-left: 26px;
    }
}

.o4b-online-form-container {
    position: relative;
}

.input-field__group {
    position: relative;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #f8f9fa;
    background-clip: padding-box;
    border: 0;
    border-radius: 4px 4px 0 0;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-bottom: 1px solid #b9b7b7;
}

.form-control:focus {
    color: #495057;
    background-color: #f8f9fa;
    border-color: transparent;
    outline: 0;
    border-bottom: 1px solid #b9b7b7;
    box-shadow: none;
}

.input-field__text {
    font-size: 13px;
}


.input--hightlight {
    position: absolute;
    height: 33px;
    width: 50%;
    top: 63%;
    left: 16px;
    pointer-events: none;
    opacity: .8;
}

.form-control:focus ~ .input--hightlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

.input-field__placeholder {
    position: absolute;
    top: 64%;
    left: 13px;
    color: #958e8e;
    pointer-events: none;
    display: block;
    transition: .2s ease all;
}

.form-control:focus ~ .input-field__placeholder{
    display: none;
}




/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#eee; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#eee; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#eee; }
    to 	{ width:0; background:transparent; }
}
